*.o
*.make
*.dylib
*.marks
*cache
*.dat
*.internal
*.hepmc
*.*~
.DS_Store
.vscode
html/*
build*/*
external_packages/LBT*
external_packages/iSS*
external_packages/3dMCGlauber*
external_packages/music*
external_packages/3dMCGlauber
examples/test_hydro_files/
external_packages/freestream-milne/
external_packages/smash/smash_code/
external_packages/ipglasma
sftp-config.json
