*.o
*.make
*.dylib
*.marks
*cache
*.dat
*.internal
*.hepmc
*.*~
.DS_Store
.vscode
.claude
.bash_history
html/*
build*/*
dAuxml*/*
.vscode/
external_packages/LBT*
external_packages/iSS*
external_packages/3dMCGlauber*
external_packages/music
external_packages/music4gpu
external_packages/3dMCGlauber
examples/test_hydro_files/
external_packages/freestream-milne/
external_packages/smash/smash_code/
external_packages/ipglasma
external_packages/Cornelius/lib/*
external_packages/Cornelius/libCornelius.*
sftp-config.json
/external_packages/js-contrib
notebooks*/
X-SCAPE*.code-workspace

# MkDocs local build output
site/
